{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img2/pr.jpg' %}" alt="" >
        <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="background-color: rgba(255, 196, 0, 0.678);">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">SUBE DE NIVEL</span>
            <span class="section-heading-lower">MUNDO GAMING</span>
          </h2>
          <p class="mb-3">EL MEJOR WEBSITE DE NOTICIAS DEL MUNDO GAMING.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta" style="background-color: rgba(31, 29, 29, 0.904);">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto" style="background-color: rgba(31, 29, 29, 0.904);">
            <div class="cta-inner text-center rounded" style="background-color: rgba(31, 29, 29, 0.904);">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper" ><B><FONT COLOR="BLACK">LAS MEJORES OFERTAS A UN SOLO CLICK </FONT>
                  <br> </span>
                <span class="section-heading-lower"><B><FONT COLOR="gold">GARANTIZADO </FONT>
                  <br></span>
              </h2>
              <p class="mb-0"><B><FONT COLOR="gold">CONVENIO CON LAS MEJORES EMPRESAS </FONT>
                <br><B><FONT COLOR="gold">DE LOS VIDEOJUEGOS</FONT>
                  <br></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}


    